.ql-editor {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-top: 1rem;
  border: none;
  padding: 1rem 1rem;
  overflow: auto;
}
.quill {
  min-height: 10rem;
  max-height: 20rem;
  overflow: hidden;
}
.ql-container {
  min-height: 10rem;

  overflow: auto;
  background: #ffffff;
  border: none !important;
}

@media (min-width: 768px) {
  .ql-editor {
    font-size: 14px;
  }
}
